@model Department

<div class="align-center container-boarder">

    <h2>Update Departments</h2>

    <form action="/department/edit" method="post">
        <input asp-for = "Id" type = "hidden"/>
        <div class="col-md-12">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control">
        </div>
        <div class="col-md-12">
            <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" class="form-control">
        </div>
        <div class="col-md-12">
            <label asp-for="Established" class="form-label"></label>
            <input asp-for="Established" class="form-control">
        </div>


        <button type="submit" class="btn btn-success float-end" style="margin-top: 5px;">Save</button>
    </form>


</div>