

    <h2 class="float-start">Departments</h2>
    
    <a href="department/Add" class="btn btn-success float-end"><i class="bi bi-plus-lg"></i>Add Department</a>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Established</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            
                @foreach (var departments in Model)
                {
                    <tr >
                        <td >@departments.Id</td>
                        <td >@departments.Name</td>
                        <td >@departments.Description</td>
                        <td >@departments.Established.ToString("MMMM dd yyyy")</td>
                        <td>
                            <a href="/department/edit"><i  href="" class="bi bi-pencil-square text-warning"></i></a>
                            <a href="/department/delete"><i class="bi bi-trash3-fill text-danger"></i></a>
                        </td>
                    </tr>
                 }

        </tbody>
    </table>
