@using PMS.Enums;
@model PMS.Models.Doctor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialist" class="control-label"></label>
                <input asp-for="Specialist" class="form-control" />
                <span asp-validation-for="Specialist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Credentials" class="control-label"></label>
                <select asp-for="Credentials" class="form-control" asp-items="@Html.GetEnumSelectList<Credential>()"></select>
                <span asp-validation-for="Credentials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-success float-end" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
